- extends "core/base.pug"

- load i18n
- load widget_tweaks
- load utils

- block content

    - include "_title_bc.pug"

    - if has_shares or has_coins or has_etfs

        ul(uk-tab="swiping: false" uk-switcher)
            - if has_shares
                li: a(href="#shares") {% trans "Shares" %}
            - if has_etfs
                li: a(href="#shares") {% trans "ETFs" %}
            - if has_coins
                li: a(href="#coins") {% trans "Coins" %}

        ul.uk-switcher.uk-margin
            - if has_shares
                li
                    h3 {% trans "Profit" %}
                    chart(
                        name="shares-profit",
                        height="500",
                        url="{% url 'transactions:shares_profits_chart_fetch' %}",
                        options="{{ assets_non_stacking_chart_options }}"
                    )

                    h3 {% trans "Asset allocation (market value)" %}
                    chart(
                        name="shares-allocation-market-value",
                        height="500",
                        url="{% url 'transactions:shares_asset_alloc_chart_fetch' %}",
                        options="{{ assets_non_stacking_chart_options }}"
                    )

                    h3 {% trans "Asset allocation" %}
                    chart(
                        name="shares-allocation",
                        height="500",
                        url="{% url 'transactions:shares_asset_alloc_chart_fetch' %}",
                        type="area",
                        options="{{ assets_stacking_chart_options }}"
                    )
            
            - if has_etfs
                li
                    h3 {% trans "Profit" %}
                    chart(
                        name="etfs-profit",
                        height="500",
                        url="{% url 'transactions:etfs_profits_chart_fetch' %}",
                        options="{{ assets_non_stacking_chart_options }}"
                    )
                    
                    h3 {% trans "Asset allocation (market value)" %}
                    chart(
                        name="etfs-allocation-market-value",
                        height="500",
                        url="{% url 'transactions:etfs_asset_alloc_chart_fetch' %}",
                        options="{{ assets_non_stacking_chart_options }}"
                    )
                    
                    h3 {% trans "Asset allocation" %}
                    chart(
                        name="etfs-allocation",
                        height="500",
                        url="{% url 'transactions:etfs_asset_alloc_chart_fetch' %}",
                        type="area",
                        options="{{ assets_stacking_chart_options }}"
                    )

            - if has_coins
                li
                    h3 {% trans "Profit" %}
                    chart(
                        name="coins-profit",
                        height="500",
                        url="{% url 'transactions:coins_profits_chart_fetch' %}",
                        options="{{ assets_non_stacking_chart_options }}"
                    )

                    h3 {% trans "Asset allocation (market value)" %}
                    chart(
                        name="coins-allocation-market-value",
                        height="500",
                        url="{% url 'transactions:coins_asset_alloc_chart_fetch' %}",
                        options="{{ assets_non_stacking_chart_options }}"
                    )

                    h3 {% trans "Asset allocation" %}
                    chart(
                        name="coins-allocation",
                        height="500",
                        url="{% url 'transactions:coins_asset_alloc_chart_fetch' %}",
                        type="area",
                        options="{{ assets_stacking_chart_options }}"
                    )
