- load i18n
- load utils

table.uk-table.uk-table-small.uk-table-divider.uk-table-striped
    thead
        tr
            th {% trans "Start" %}
            th {% trans "End" %}
            th {% trans "Amount" %}
            th {% trans "Reward" %}
            th {% trans "Sold" %}
            th {% trans "Attachments" %}
            th
            th
    tbody
        - for s in open_stakings
            tr
                td(colspan="8"): h4 {% trans "Open stakings" %}
            tr
                td {{ s.start }}
                td {{ s.end }}
                td {{ s.amount }}
                td {{ s.reward_amount }}
                td
                    - if s.is_sold
                        i.bi.bi-check2
                td
                    - for a in s.attachment_set.all
                        a(href="{{ a.file.url }}")
                            | {{ a.file.name|filename }}
                            | &nbsp;
                td
                    a(href="{% url 'staking:delete' s.pk %}", title="{% trans 'Delete staking' %}")
                        i.bi.bi-trash
                td
                    a(href="{% url 'staking:update' s.pk %}", title="{% trans 'Update staking' %}")
                        i.bi.bi-pencil

        - for s in closed_stakings
            tr
                td(colspan="8"): h4 {% trans "Closed stakings" %}
            tr
                td {{ s.start }}
                td {{ s.end }}
                td {{ s.amount }}
                td {{ s.reward_amount }}
                td
                    - if s.is_sold
                        i.bi.bi-check2
                td
                    - for a in s.attachment_set.all
                        a(href="{{ a.file.url }}")
                            | {{ a.file.name|filename }}
                            | &nbsp;
                td
                    a(href="{% url 'staking:delete' s.pk %}", title="{% trans 'Delete staking' %}")
                        i.bi.bi-trash
                td
                    a(href="{% url 'staking:update' s.pk %}", title="{% trans 'Update staking' %}")
                        i.bi.bi-pencil

        tr
            td(colspan="3")
            td.uk-text-bold {{ stakings_reward_sum|autofloatformat }} ({{ stakings_reward_sum_value|autofloatformat }})
            td(colspan="4")
