- load utils
- load items

div(class="{{ user_item.get_tags|item_tags_to_classes:type }}")
    .uk-card.uk-card-default.uk-card-body
        
        a(href="
            {% if 'share' == type %}
                {% url 'shares:share_detail' user_item.pk %}
            {% elif 'index' == type %}
                {% url 'indexes:index_detail' user_item.pk %}
            {% elif 'etf' == type %}
                {% url 'etfs:etf_detail' user_item.pk %}
            {% elif 'coin' == type %}
                {% url 'coins:coin_detail' user_item.pk %}
            {% endif %}
        ")
            h5(title="{{ user_item.get_note_without_tags|default:"" }}") {{ user_item.item.symbol }}

        p
            | {{ user_item.item.get_last_price.price|floatformat:2|default:"-" }}

            - with change=user_item.item.get_last_day_perc_change
                - if change
                    - with compounded_change=user_item.item.get_last_day_compounded_perc_change
                        - if compounded_change
                            | ({{ change|move_arrow }} {{ change|floatformat:2 }}%, {{ compounded_change|floatformat:2 }}%)
                        - else
                            | ({{ change|move_arrow }} {{ change|floatformat:2 }}%)
                    
        - if chart and chart.image
            img.uk-margin-bottom.dashboard-performance-chart(src="{{ chart.image.url }}")

        - with tags=user_item.get_tags
            - if tags
                - for t in tags
                    span.uk-label.uk-margin-small-left.uk-margin-small-right {{ "#" }}{{ t }}
