- load static

link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/css/uikit.min.css")
script(src="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/js/uikit.min.js")
link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.css")
link(rel="stylesheet", href="{% static 'css/app_build.css' %}")
