- extends "core/base.pug"

- load i18n
- load utils
- load items

- block content

    - trans "performance" as subtitle
    - include "_title_bc.pug" with title=object.item.symbol|add:" "|add:subtitle

    highcharts(:options="{{ performance_chart_options|to_json }}")
    
    table.uk-table.uk-table-small.uk-table-divider.uk-table-striped
        thead
            tr
                th {% trans "Year" %}
                th {% trans "Price range" %}
                th {% trans "Median" %}
                th {% trans "Gain/Loss" %}
        tbody
            - for year in annual_performance
                tr
                    td {{ year.year }}
                    td {{ year.low|autofloatformat }} - {{ year.high|autofloatformat }}
                    td {{ year.median|autofloatformat }}
                    td {{ year.perc_change|move_arrow }} {{ year.perc_change|floatformat:2 }}%
