- extends "core/base.pug"

- load i18n
- load widget_tweaks


- block content

    - include "_title_bc.pug"

    - if 0 < shares.count or 0 < coins.count or 0 < indexes.count or 0 < etfs.count

        ul(uk-tab="swiping: false" uk-switcher)
            li: a(href="#") {% trans "Shares today" %}
            li: a(href="#") {% trans "Indexes today" %}
            li: a(href="#") {% trans "ETFs today" %}
            li: a(href="#") {% trans "Coins today" %}

        ul.uk-switcher.uk-margin

            li(uk-filter="target: .js-filter")
                ul.uk-subnav.uk-subnav-pill.uk-margin-bottom
                    li(uk-filter-control=""): a(href="#") {% trans "All" %}

                    - for share in shares
                        li(uk-filter-control=".share-{{ share.symbol }}"): a(href="#") {{ share.symbol }}

                news(:shares-only="true", from="{{ yesterday }}", to="{{ today }}")

            li(uk-filter="target: .js-filter")
                ul.uk-subnav.uk-subnav-pill.uk-margin-bottom
                    li(uk-filter-control=""): a(href="#") {% trans "All" %}

                    - for index in indexes
                        li(uk-filter-control=".index-{{ index.symbol }}"): a(href="#") {{ index.symbol }}

                news(:indexes-only="true", from="{{ yesterday }}", to="{{ today }}")
            
            li(uk-filter="target: .js-filter")
                ul.uk-subnav.uk-subnav-pill.uk-margin-bottom
                    li(uk-filter-control=""): a(href="#") {% trans "All" %}

                    - for etf in etfs
                        li(uk-filter-control=".etf-{{ etf.symbol }}"): a(href="#") {{ etf.symbol }}

                news(:etfs-only="true", from="{{ yesterday }}", to="{{ today }}")

            li(uk-filter="target: .js-filter")
                ul.uk-subnav.uk-subnav-pill.uk-margin-bottom
                    li(uk-filter-control=""): a(href="#") {% trans "All" %}

                    - for coin in coins
                        li(uk-filter-control=".coin-{{ coin.symbol }}"): a(href="#") {{ coin.symbol }}

                news(:coins-only="true", from="{{ yesterday }}", to="{{ today }}")
    - else
        .uk-alert-warning.uk-alert
            p {% trans "Nothing to show. Please add some items (shares, indexes, ETFs or coins) first." %}
