- load i18n

- for m in messages
    div(class="uk-alert-{% if m.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}{{ m.tags }}{% endif %}" uk-alert)
        a.uk-alert-close(uk-close)
        p {{ m|safe }}
