- load i18n
- load utils
- load transactiontags

- if transactions_open
        h2 {% trans "Open transactions" %}
        .uk-overflow-auto
            table.uk-table.uk-table-small.uk-table-divider.uk-table-striped
                thead
                    tr
                        th {% trans "Date" %}
                        th {% trans "Amount" %}
                        th {% trans "Price" %}
                        th {% trans "Value" %}
                        - if object.coin
                            th {% trans "Exchange" %}
                        th {% trans "Deposit" %}
                        th {% trans "Target" %}
                tbody
                    - for t in transactions_open
                        - ifchanged
                            tr
                                td(colspan="7"): h4 {{ t.date|date:"Y" }}
                        tr
                            td
                                a(href="{% url 'transactions:open_detail' t.pk %}") {{ t.date }}
                            td
                                | {{ t.amount }}
                                - if t.note
                                    i.bi.bi-question-circle-fill(title="{{ t.note }}")
                            td {{ t.price|autofloatformat|default:"-" }}
                            td {{ t.get_value|autofloatformat }}
                            - if object.coin
                                td {{ t.exchange }}
                            td
                                - if t.is_deposit
                                    i.bi.bi-check2
                            td {{ t.target_as_absolute_value|default:"-" }}
                    tr
                        td
                        td.uk-text-bold(title="{% trans 'Total amount'%}") &sum; {{ transactions_open|sum_by:"amount"|autofloatformat }}
                        td.uk-text-bold(title="{% trans 'Average price' %}") ā {% average_price transactions_open as average %}{{ average|autofloatformat }}
                        td.uk-text-bold(title="{% trans 'Sum' %}") &sum; {{ transactions_open|sum_by:"get_value"|autofloatformat }}
                        td(colspan="2")

- if transactions_closed
    h2 {% trans "Closed transactions" %}
    .uk-overflow-auto
        table.uk-table.uk-table-small.uk-table-divider.uk-table-striped
            thead
                tr
                    th {% trans "Date" %}
                    th {% trans "Amount" %}
                    th {% trans "Price" %}
                    th {% trans "Value" %}
                    - if object.coin
                        th {% trans "Exchange" %}
                    th {% trans "Deposit" %}
                    th {% trans "Closing" %}
                    th {% trans "Target" %}
            tbody
                - for t in transactions_closed
                    - ifchanged
                        tr
                            td(colspan="7"): h4 {{ t.date|date:"Y" }}
                    tr
                        td
                            a(href="{% url 'transactions:open_detail' t.pk %}") {{ t.date }}
                        td
                            | {{ t.amount }}
                            - if t.note
                                i.bi.bi-question-circle-fill(title="{{ t.note }}")
                        td {{ t.price|autofloatformat|default:"-" }}
                        td {{ t.get_value|autofloatformat }}
                        - if object.coin
                            td {{ t.exchange }}
                        td
                            - if t.is_deposit
                                i.bi.bi-check2
                        td
                            - if t.is_closing
                                i.bi.bi-check2
                        td {{ t.target_as_absolute_value|default:"-" }}
