- load i18n
- load humanize
- load utils
- load items


.mdc-layout-grid
    .mdc-layout-grid__inner
        .mdc-layout-grid__cell.mdc-layout-grid__cell--span-12.mdc-layout-grid__cell--span-4-phone.mdc-card
            item-chart(
                name="{{ object.get_symbol_slug }}",
                url="{% url 'indexes:index_fetch' object.pk %}",
                height="410",
                symbol="{{ object.item.symbol }}",
                :transactions="true",
                :smas="true",
                :ranges="{{ ranges }}"
            )

        .mdc-layout-grid__cell.mdc-layout-grid__cell--span-12.mdc-layout-grid__cell--span-4-phone.mdc-card
            item-chart(
                name="{{ object.get_symbol_slug }}-percents",
                url="{% url 'indexes:index_fetch' object.pk %}",
                height="410",
                symbol="{{ object.item.symbol }}",
                :transactions="true",
                :percents="true",
                :ranges="{{ ranges }}"
            )

        - include "_item_detail_transactions.pug"
