- extends "core/base.pug"

- load i18n
- load utils

- block content

    - include "_title_bc.pug"

    - if stakings
        div
            h2 {% trans "Closed stakings" %}
            .uk-overflow-auto
                - include "staking/_list_table.pug" with stakings=stakings
