<template lang="pug">

.chart(:class="[{'invisible-chart': hidden}]" :style="{height: height + 'px'}")
    div(:style="{height: height + 'px'}", :id="'chart-' + name", @reflow="reflow", v-if="data.length")
    loading(ref="loading" :in-container="true")

</template>



<script>

/** Imports */
import Chart from "./chart.vue"
import loading from "./loading.vue"
import { calc_percentage_change } from "../math"


/** Define */
export default {
    components: {
        loading,
    },
    mixins: [Chart],
    props: {
        symbol: {default: null},
        indexes: {default: null},
        transactions: {default: false},
        smas: {default: false},
        percents: {default: false},
        hidden: {default: false},
        multipleSeries: {default: false},
        ranges: {default: null},
        optionOverrides: {default: null},
    },
    data() {
        return {
            indexesData: null,
            transactionsData: null,
            plotLinesData: null,
            smasData: null,
            plotLines: null,
        }
    },

    methods: {

        fetch() {

            this.$refs.loading.start()

            fetch(this.url + "?" + new URLSearchParams(this.getFetchParams()))
                .then(response => response.json())
                .then(response => {

                    if (response.status) {

                        this.data = response.data.item

                        if (this.indexes)
                            this.indexesData = response.data.indexes

                        if (this.transactions)
                            this.transactionsData = response.data.transactions

                        if (this.smas)
                            this.processSMAs(response.data)

                        if (response.data.plotLines)
                            this.plotLines = response.data.plotLines

                        if (this.data.length)
                            this.render()
                    }
                })
                .finally(() => this.$refs.loading.stop())
        },

        getFetchParams() {

            let params = {}

            if (this.indexes)
                params["indexes"] = this.indexes

            if (this.transactions)
                params["transactions"] = this.transactions

            if (this.smas)
                params["smas"] = this.smas

            if (this.percents)
                params.percents = true

            return params
        },

        /**
         * Digs out SMAs from data incommig from server (if presented).
         *
         * @param Object data
         */
        processSMAs(data) {

            this.smasData = {}

            // SMA 20 days.
            if (data.ma20)
                this.smasData[20] = data.ma20

            // SMA 50 days.
            if (data.ma50)
                this.smasData[50] = data.ma50

            // SMA 200 days.
            if (data.ma200)
                this.smasData[200] = data.ma200
        },

        /**
         * Returns chart options based on component settings
         * and applies overrides.
         *
         * @returns Object
         */
        getOptions() {

            var options;

            if (this.percents)
                options = this._getPercentChartOptions()
            else
                options = this._getChartOptions()

            // Apply option overrides.
            if (this.optionOverrides)
                Object.assign(options, this.optionOverrides)

            // Check indexes.
            if (this.indexes)
                this._addIndexes(options)

            // Check custom range.
            if (this.ranges)
                options = this.addRanges(options)

            // Plot lines.
            if (this.plotLines)
                options = this._addPlotLines(options)

            return options
        },

        /**
         * Returns basic (common for all cases) option directives.
         *
         * @returns Object
         */
        _getBasicOptions() {

            return {
                rangeSelector: {
                    selected: 2,
                },
                legend: {
                    enabled: true,
                },
            }
        },

        /**
         * Returns options for chart showing values in percents.
         *
         * @returns Object
         */
        _getPercentChartOptions() {

            // Create options from basic options object.
            var options = this._getBasicOptions()
            Object.assign(options, {
                yAxis: {
                    labels: {
                        formatter: function() {
                            return (this.value > 0 ? "+" : "") + this.value + "%";
                        }
                    },
                    plotLines: [{
                        value: 0,
                        width: 2,
                        color: "silver"
                    }]
                },
                plotOptions: {
                    series: {
                        compare: "percent",
                        showInNavigator: true,
                    }
                },
                tooltip: {
                    pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.change}%)<br/>',
                    // valueDecimals: 2,
                    split: false,
                    shared: true
                },
            })

            // If chart has multiple series
            // set data as the series.
            if (this.multipleSeries)
                options.series = this.data

            else {
                options.series = [{
                    name: this.symbol,
                    id: "dataSeries",
                    data: this.data,
                    color: Highcharts.theme.colors[0],
                }]

                if (this.transactions)
                    this.addTransactions(options)

                // In case of single series we colorize the negative
                // values in different color.
                // options.plotOptions.series.className = "main-color"
                options.plotOptions.series.negativeColor = "#F0506E"
            }

            return options
        },

        /**
         * Returns options for chart showing values.
         *
         * @returns Object
         */
        _getChartOptions() {

            // Create options from basic options object.
            // Basic options.
            var options = this._getBasicOptions()
            Object.assign(options, {
                tooltip: {
                    // valueDecimals: 2,
                    split: false,
                    shared: true
                },
                series: [{
                    type: "area",
                    data: this.data,
                    name: this.symbol,
                    id: "dataSeries",
                    color: Highcharts.theme.colors[0],
                    fillColor: {
                        linearGradient: {
                            x1: 0,
                            y1: 0,
                            x2: 0,
                            y2: 1
                        },
                        stops: [
                            [0, Highcharts.theme.colors[0]],
                            [1, Highcharts.color(Highcharts.theme.colors[0]).setOpacity(0).get("rgba")]
                        ]
                    },
                    threshold: null,
                }]
            })

            // Check transactions.
            if (this.transactions && this.transactionsData.length)
                options = this.addTransactions(options)

            // Check Small moving averages (SMA).
            if (this.smasData)
                options = this.addSMAs(options)

            return options
        },

        /**
         * Adds plot lines data to the given options object.
         *
         * @param Object options Highchasts chart options.
         */
        _addPlotLines(options) {

            options.yAxis = {
                plotLines: this.plotLines
            }

            // Get series max.
            let series_values = []

            for (const item of this.data)
                series_values.push(item[1])

            // Plot lines series max.
            let lines_values = []

            for (const item of options.yAxis.plotLines)
                lines_values.push(item.value)

            // For percentage chart we need to figure the maximum
            // by convesting all data series points to percents
            // (simulate what Highchasts do).
            if (this.percents) {

                const start = series_values[0]
                let percents = series_values.map(x => calc_percentage_change(x, start))

                options.yAxis.max = Math.max(...percents, ...lines_values) + 1
                options.yAxis.min = Math.min(...percents, ...lines_values)
            }
            else {
                options.yAxis.max = Math.max(...series_values, ...lines_values) + 1
                options.yAxis.min = Math.min(...series_values, ...lines_values)
            }

            return options
        },

        /**
         * Adds indexes data to the given options object.
         *
         * @param Object options Highchasts chart options.
         */
        _addIndexes(options) {

            options["yAxis"] = [{
                title: {
                    text: "Price",
                }
            }]

            for (const i in this.indexes) {
                options.series.push({
                    name: this.indexes[i],
                    data: this.indexesData[i],
                    type: "line",
                    color: Highcharts.theme.colors[0],
                    yAxis: 1,
                    dashStyle: "shortdot",
                })
                options["yAxis"].push({
                    title: {
                        text: "Index " + this.indexes[i],
                    },
                    opposite: false
                })
            }
        },

        show() {
            this.hidden = false;
        },

        addTransactions(options) {

            options.series.push({
                type: "flags",
                name: this.$t("transactions"),
                data: this.transactionsData,
                onSeries: "dataSeries",
                shape: "circlepin",
                width: 16,
                color: Highcharts.theme.colors[1],
                fillColor: Highcharts.theme.colors[1],
                style: {
                    color: "#fff"
                },
                states: {
                    hover: {
                        enabled: false,
                    }
                }
            })

            return options
        },

        /**
         * Adds 20, 50 and 200 moving average data series.
         * Adds only those which are available.
         *
         * @param {Object} options Object with options for Highcharts class.
         * @returns {Object} Modified options object.
         */
        addSMAs(options) {

            let i = 0

            for (const days in this.smasData) {

                options.series.push({
                    name: `SMA ${days}`,
                    data: this.smasData[days],
                    type: "line",
                    color: Highcharts.theme.colors[2 + i],  // +2: First color is the price series, second are indexes.
                    // yAxis: 0,
                    dashStyle: "shortdot",
                })

                i++
            }

            return options
        },

        /**
         * Adds custom ranges to the chart.
         * Range is represented as new button in the top left corner of the chart.
         * Each range is object with followinf props:
         *
         * {
         *     title: "1.5y",
         *     from: 1198681756385,
         *     to: 1368144000000
         * }
         *
         * Properties "from" and "to" are in microseconds!
         *
         * @param {Object} options Object with options for Highcharts class.
         * @returns {Object} Modified options object.
         */
        addRanges(options) {

            var that = this

            // If needed sets up defaults.
            if (!options.xAxis)
                options.xAxis = {}

            if (!options.rangeSelector.buttons)
                options.rangeSelector.buttons = this.getRangeSelectorButtons()

            // Add new buttons to the chart.
            for (const r of this.ranges)
                options.rangeSelector.buttons.push({
                    type: "",
                    count: 2,
                    text: r.title,
                })

            // Attach handling event.
            options.xAxis.events = {
                afterSetExtremes: function(e) {

                    var chart = this

                    if ("rangeSelectorButton" == e.trigger) {

                        // Walks thru all custom ranges and tries to
                        // pair them on title.
                        for (const r of that.ranges)
                            if (r["title"] == e.rangeSelectorButton.text) {

                                chart.setExtremes(r.from, r.to)
                                break
                            }
                    }
                }
            }

            return options
        },

        /**
         * Returns default range selectors.
         *
         * @returns {Array} Selectors definition.
         */
        getRangeSelectorButtons() {

            return [{
                    type: "week",
                    count: 1,
                    text: "1w",
                },
                {
                    type: "month",
                    count: 1,
                    text: "1m"
                }, {
                    type: "month",
                    count: 3,
                    text: "3m"
                }, {
                    type: "month",
                    count: 6,
                    text: "6m"
                }, {
                    type: "ytd",
                    text: "YTD"
                }, {
                    type: "year",
                    count: 1,
                    text: "1y"
                }, {
                    type: "all",
                    text: "All"
                }
            ]
        }
    }
}

</script>
