<template lang="pug">

div
    p.uk-text-center(v-if="!loaded")
        loading(ref="loading")
    div(v-else)
        .uk-grid-column-small.js-filter(class="uk-child-width-1-3@m" uk-grid v-if="news.length")
            template(v-if="!videos")
                div(v-for="n in news" :class="(sharesOnly ? 'share-' : 'coin-') + n.symbol")
                    .uk-card.uk-card-default
                        .uk-card-badge.uk-label(v-if="!symbol") {{ n.symbol }}
                        .uk-card-media-top(v-if="n.image")
                            img(:src="n.image")
                        .uk-card-body
                            h3.uk-card-title {{ n.title }}
                            .uk-text-meta {{ n.date }} - {{ n.source }}
                            p {{ n.description }}
                        .uk-card-footer
                            a.uk-button.uk-button-text(:href="n.url" target="_blank") {{ $t("read") }}

            template(v-else)
                div(v-for="n in news") 
                    .uk-card.uk-card-default
                        .uk-card-media-top
                            iframe(
                                style="height: 351px; width: 100%;",
                                scrolling="no",
                                frameborder="0",
                                :src="n.url + '?format=embed'",
                                allowfullscreen="true",
                                mozallowfullscreen="true",
                                webkitallowfullscreen="true",
                                allowtransparency="true")
                        .uk-card-body
                            h3.uk-card-title {{ n.title }}
                            .uk-text-meta {{ n.date }} - {{ n.source }}
                            p {{ n.description }}
                        .uk-card-footer
                            a.uk-button.uk-button-text(:href="n.url" target="_blank") {{ $t("watch") }}
                
        p.uk-text-center(v-else) {{ $t("no-news") }}

</template>


<script>

import loading from "./loading.vue"

export default {
    components: {
        loading,
    },
    props: {
        symbol: null,
        from: {required: true},
        to: {required: true},
        videos: false,
        limit: null,
        coinsOnly: false,
        sharesOnly: false,
        indexesOnly: false,
        etfsOnly: false
    },
    data() {
        return {
            news: [],
            loaded: false
        }
    },
    methods: {
        fetch() {

            this.$refs.loading.start()
            const params = {
                symbol: this.symbol,
                videos: this.videos,
                from: this.from,
                to: this.to,
                limit: this.limit,
                coins_only: this.coinsOnly,
                shares_only: this.sharesOnly,
                indexes_only: this.indexesOnly,
                etfs_only: this.etfsOnly,
            }

            fetch("/news/fetch/?" + new URLSearchParams(params))
                .then(response => response.json())
                .then(response => {

                    if (response.status) {

                        this.news = response.data;
                    }
                })
                .finally(() => {

                    this.$refs.loading.stop()
                    this.loaded = true;
                })
        }
    },
    mounted() {
        this.fetch()
    }
}

</script>
