<template lang="pug">

div
    .uk-margin(class="uk-child-width-1-1@s uk-child-width-1-2@m" v-show="chartURL" uk-grid)
        .uk-flex
            button.uk-button.uk-button-default.uk-button-small(type="button" @click="setRange('1m')") {{ $t("1m") }}
            button.uk-button.uk-button-default.uk-button-small(type="button" @click="setRange('3m')") {{ $t("3m") }}
            button.uk-button.uk-button-default.uk-button-small(type="button" @click="setRange('6m')") {{ $t("6m") }}
            button.uk-button.uk-button-default.uk-button-small(type="button" @click="setRange('9m')") {{ $t("9m") }}
            button.uk-button.uk-button-default.uk-button-small(type="button" @click="setRange('ytd')") {{ $t("YTD") }}
            button.uk-button.uk-button-default.uk-button-small(type="button" @click="setRange('1y')") {{ ("1y") }}
        div
            form.uk-flex.uk-flex-right(class="uk-child-width-1-1@s" v-if="hasForm")
                input.uk-input.uk-form-small.uk-form-width-small(:id="_uid + '_date_from'" type="date" v-model="form.dateFrom")
                input.uk-input.uk-form-small.uk-form-width-small(:id="_uid + '_date_to'" type="date" v-model="form.dateTo")

    loading(ref="loading")

    img.uk-width-expand(:src="chartURL" v-show="chartURL")

</template>


<script>

import moment from "moment";
import loading from "./loading.vue"

export default {
    components: {
        loading,
    },
    props: {
        url: {required: true},
        hasForm: {default: false},
    },
    data() {
        return {
            chartURL: false,
            form: {
                dateFrom: null,
                dateTo: null,
            }
        }
    },
    mounted() {

        this.render()
        // core.setUpMobileImages(this.$el.querySelector(".mobile-image"));
    },
    methods: {

        render() {

            let data = null
            this.$refs.loading.start()

            if (this.hasForm)
                data = {
                    date_from: this.form.dateFrom,
                    date_to: this.form.dateTo,
                }

            fetch(this.url, {body: new URLSearchParams(data)})
                .then(response => response.json())
                .then(response => {

                    if (response.status) {

                        if (response.data)
                            this.compileChartURL(response.data)
                        else
                            this.chartURL = null
                    }
                    else
                        fm.log("Couldn't fetch chart", "error")
                })
                .finally(() => this.$refs.loading.stop())
        },

        compileChartURL(data) {

            this.chartURL = "data:image/svg+xml;base64," + data
        },

        setRange(mark) {

            let d;

            switch (mark) {

                case "1m":
                    d = moment().subtract(1, "months")
                    break;
                case "3m":
                    d = moment().subtract(3, "months")
                    break;
                case "6m":
                    d = moment().subtract(6, "months")
                    break;
                case "9m":
                    d = moment().subtract(9, "months")
                    break;
                case "ytd":
                    d = moment().startOf("year")
                    break;
                case "1y":
                    d = moment().subtract(1, "years")
                    break;
            }

            this.form.dateFrom = d.format("YYYY-MM-DD")

            // Update input label.
            document.getElementById(this._uid + "_date_from").nextElementSibling.classList.add("mdc-text-field__label--float-above")

            // Render the chart.
            this.render()
        }
    },

    watch: {
        "form.dateFrom": function() {
            this.render()
        },
        "form.dateTo": function() {
            this.render()
        }
    }
}

</script>

